body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#content {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#room {
    background-color: rgb(231, 243, 243);
    margin-bottom: 1em;
}

#room-list {
    background-color: rgb(177, 231, 126);
    height: 300px;
  
}

#messages {
    height: 300px;
    overflow: auto;
    background-color: #f3cc82;
    margin-bottom: 1em;
    margin-right: 10px;
}

#send-button {
    height: 2rem;
}